body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
    padding: 10px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
}

a:hover {
    color: skyblue;
    text-decoration: underline;
}
