body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}