body {
    font-family: Arial, sans-serif;
    background: white;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.page-title {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 28px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background: #b0b0b0;
}

tr:nth-child(odd) {
    background: #e9e9e9;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    margin: 0 auto;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.delete-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.delete-container p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.delete-container form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 6px 14px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.30);
}

.btn.update {
    background: #ffc107;
}
.btn.update:hover {
    background: #e0a907;
}

.btn.delete {
    background: orangered;
}
.btn.delete:hover {
    background: #c43504;
}

.btn.back {
    background: #007bff;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 12px;
}
.btn.back:hover {
    background: #0056b3;
}

.btn.save {
    background: #16ad16;
    padding: 12px 22px;
    font-size: 18px;
    border-radius: 12px;
}
.btn.save:hover {
    background: #046804;
}

.btn.add {
    background: #05a105;
}
.btn.add:hover {
    background: #048004;
}

.delete-container .btn.delete {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 12px;
}

.delete-container .btn.delete:hover {
    background: #c43504;
}
.delete-container .btn.back {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 12px;
}
.delete-container .btn.back:hover {
    background: #0056b3;
}